@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary text-text-primary scrollbar scrollbar-thumb-tertiary scrollbar-thumb-rounded-xl scrollbar-track-secundary scrollbar-corner-secundary;
}

.line-wobble {
  --uib-size: 80px;
  --uib-speed: 1.55s;
  --uib-static-color: #292929;
  --uib-moving-color: #5566f9;
  --uib-line-weight: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-line-weight);
  width: var(--uib-size);
  border-radius: calc(var(--uib-line-weight) / 2);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.line-wobble::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--uib-static-color);
}

.line-wobble::after {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: calc(var(--uib-line-weight) / 2);
  animation: wobble var(--uib-speed) ease-in-out infinite;
  transform: translateX(-90%);
  background-color: var(--uib-moving-color);
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(-90%);
  }

  50% {
    transform: translateX(90%);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #e6e6e6;
  caret-color: #e6e6e6;
  transition: background-color 99999999s ease-in-out 0s;
}

::-webkit-calendar-picker-indicator {
  filter: invert(99%) sepia(0%) saturate(3879%) hue-rotate(203deg) brightness(112%) contrast(80%);
}
